<strong>Hello, {{ name }}</strong>
<p>There is a new delivery for you, see the details below.</p>
<p>
  <strong>Delivery ID: </strong>{{ idDelivery }} <br />
  <strong>Street: </strong>{{street}} <br />
  <strong>Number: </strong>{{number}} <br />
  <strong>Complement: </strong>{{complement}} <br />
  <strong>City: </strong>{{city}} <br />
  <strong>State: </strong>{{state}} <br />
  <strong>CEP: </strong>{{cep}} <br />
</p>

